@model Teste_Codificar.Models.Chamado

@{
    ViewData["Title"] = "Excluir Chamado";
}

<div class="d-flex justify-content-between align-items-center mb-4">

    <div>
        <h1>Excluir Chamado</h1>
        <h5 class="text-danger">
            Tem certeza que deseja excluir este chamado?
        </h5>
    </div>

    <a asp-action="Index" class="btn btn-secondary">
        Voltar para Lista
    </a>

</div>

<div class="card">

    <div class="card-header">
        <h4>Detalhes do Chamado</h4>
    </div>

    <div class="card-body">

        <dl class="row">

            <dt class="col-sm-3">
                Título
            </dt>
            <dd class="col-sm-9">
                @Html.DisplayFor(model => model.Titulo)
            </dd>

            <dt class="col-sm-3">
                Descriçăo
            </dt>
            <dd class="col-sm-9">
                @Html.DisplayFor(model => model.Descricao)
            </dd>

            <dt class="col-sm-3">
                Prioridade
            </dt>
            <dd class="col-sm-9">
                @Html.DisplayFor(model => model.Prioridade)
            </dd>

            <dt class="col-sm-3">
                Status
            </dt>
            <dd class="col-sm-9">
                @Html.DisplayFor(model => model.Status)
            </dd>

            <dt class="col-sm-3">
                ID do Responsável
            </dt>
            <dd class="col-sm-9">
                @Html.DisplayFor(model => model.ResponsavelId)
            </dd>

            <dt class="col-sm-3">
                Data de Abertura
            </dt>
            <dd class="col-sm-9">
                @Html.DisplayFor(model => model.DataAbertura)
            </dd>

        </dl>

    </div>

    <div class="card-footer">

        <form asp-action="Delete">

            <input type="hidden" asp-for="Id" />

            <button type="submit" class="btn btn-danger">
                Excluir Chamado
            </button>

        </form>

    </div>

</div>